<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="you">
            <h1>Welcome, {{ username }}!</h1>
            <a href="/logout">Logout</a>
            <div id="tripsPlanned">
                <h2>Trips that you've planned</h2>
                {% if tripsPlanned and tripsPlanned|length > 0 %}
                <table>
                    <tr>
                        <th>Destination</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <!-- <th>Others</th> -->
                        <th></th>
                    </tr>
                    {% for trip in tripsPlanned %}
                    <tr>
                        <td>{{ trip.destination }}</td>
                        <td>{{ trip.description }}</td>
                        <td>{{ trip.startDate }}</td>
                        <td>{{ trip.endDate }}</td>
                        <!-- <td>
                            {% for other in trip.others %}
                            <p>{{ other.username }}</p>
                            {% endfor %}
                        </td> -->
                        <td>
                            <form action="/travel/delete" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="tripId" value="{{ trip.tripId }}" />
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>You haven't planned any trips!</p>
                {% endif %}
                <a href="/travel/createForm">Plan a trip</a>
            </div>
            <div id="tripsJoined">
                <h2>Trips that you've joined</h2>
                {% if tripsJoined and tripsJoined|length > 0 %}
                <table>
                    <tr>
                        <th>Destination</th>
                        <th>Description</th>
                        <th>Planned By</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <!-- <th>Others</th> -->
                        <th></th>
                    </tr>
                    {% for trip in tripsJoined %}
                    <tr>
                        <td>{{ trip.destination }}</td>
                        <td>{{ trip.description }}</td>
                        <td>{{ trip.plannedBy.username }}</td>
                        <td>{{ trip.startDate }}</td>
                        <td>{{ trip.endDate }}</td>
                        <!-- <td>
                            {% for other in trip.usersJoined.all %}
                            <p>{{ other.username }}</p>
                            {% endfor %}
                        </td> -->
                        <td>
                            <form action="/travel/leave" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="tripId" value="{{ trip.tripId }}" />
                                <input type="submit" value="Leave" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>You haven't joined any trips!</p>
                {% endif %}
            </div>
        </div>
        <div id="publicTrips">
            <h2>Public trips that you can join</h2>
            {% if trips and trips|length > 0 %}
            <table>
                <tr>
                    <th>Destination</th>
                    <th>Description</th>
                    <th>Planned By</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <!-- <th>Others</th> -->
                    <th></th>
                </tr>
                {% for trip in trips %}
                <tr>
                    <td>{{ trip.destination }}</td>
                    <td>{{ trip.description }}</td>
                    <td>{{ trip.plannedBy.username }}</td>
                    <td>{{ trip.startDate }}</td>
                    <td>{{ trip.endDate }}</td>
                    <!-- <td>
                        {% for other in trip.usersJoined.all %}
                        <p>{{ other.username }}</p>
                        {% endfor %}
                    </td> -->
                    <td>
                        <form action="/travel/join" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="tripId" value="{{ trip.tripId }}" />
                            <input type="submit" value="Join" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>There are no public trips available :(</p>
            {% endif %}
        </div>
    </body>
</html>